@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --color-main: #4068f2;
  /* #ccff00 */
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background-color: #e5e6e0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0,0,0, 0.4);
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    vertical-align: top;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    padding-top: 70px;
    padding-bottom: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    margin: 15px;
    
}
.col-1 {width: calc(8.3333% - 30px); }
.col-2 {width: calc(16.6666% - 30px); }
.col-3 {width: calc(25% - 30px); }
.col-4 {width: calc(33.3333% - 30px); }
.col-5 {width: calc(41.6666% - 30px); }
.col-6 {width: calc(50% - 30px); }
.col-7 {width: calc(58.3333% - 30px); }
.col-8 {width: calc(66.6666% - 30px); }
.col-9 {width: calc(75% - 30px); }
.col-10 {width: calc(83.3333% - 30px); }
.col-11 {width: calc(91.6666% - 30px); }
.col-12 {width: calc(100% - 30px); }



.change-role-buttons{
 padding-top: 80px;
}


.start-choose-button{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.text-start-buttons{
  padding-top: 120px;
  text-align: center;
  font-size: 35px;
}

.start-choose-button:hover{
  background-color: aqua;
}

.text-start-buttons-rules{
  padding-top: 60px;
  text-align: center;
  font-size: 25px;
}

.footer-block {
    width: 100%;
    position: fixed;
    margin: 0;
    bottom: 0;
    height: auto;
    background-color: #f7f7f7;
    z-index: 100; /* Опционально, чтобы быть выше других элементов */
    left: 0; /* Добавляет фиксацию к левому краю */
    right: 0; /* Добавляет фиксацию к правому краю */
}

.footer-button{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%; /* Ensures full width */
  height: 100%;
  flex-direction: column;
  cursor: pointer;
}



.footer-text{
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.footer-text-active{
  font-weight: 500;
  font-size: 18px;
  color: var(--color-main);
}


.active{
  color: var(--color-main);
}


.profile{
  display: flex;
  padding-top: 15px;
  width: 100%;
  margin-bottom: 15px;
  
}


.profile-userinfo2{
  height: 110px;
  width: 45%;
  border: 1px solid black;
  padding: 15px;
  margin: auto 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.username{
  font-size: 20px;
  padding-bottom: 5px;
}

.balance-container{
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance-text{
  font-size: 17px;
  padding-bottom: 5px;
  color: black;
  font-weight: 500;
 
}



.row-balance{
  display: flex;
  align-items: center;
  
}
.balance-count{
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.profile-top-double-btns{
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-role-text-profile{
  font-size: 15px;
  font-weight: 600;
  background-color: var(--color-main);
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}

.categories-name{
  font-size: 17px;
  
}

/* FilterMenu.css */
.container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.label {
  margin-bottom: 8px;
  font-size: 24px; /* Увеличиваем размер шрифта метки */
  font-weight: bold;
}

.select {
  padding: 12px;
  font-size: 20px; /* Увеличиваем размер шрифта в выпадающем списке */
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px; /* Увеличиваем ширину выпадающего списка */
}


.container-birzha-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Этот элемент будет занимать всю возможную высоту */
  overflow-y: auto; /* Добавляем прокрутку по вертикали */
  
}

.birzha-item{
  height: auto;
  border: 1px solid black;
  width: 80%;
  margin: 10px;
  border-radius: 20px;
}

.pagination{
  padding-top: 20px;
  padding-bottom: 180px;
}

/* MainPage.css */
.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position: sticky; /* Фиксируем Footer */
  bottom: 0; /* Привязываем к нижней части экрана */
  width: 100%; /* Заставляем занимать всю ширину страницы */
  background-color: white; /* Задаем белый фон, можно изменить */
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы поверх контента */
}


.birzha-item-topline{
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
}


.birzha-item-time{
  
  
  font-size: 12px;
  margin-right: 10px;
}



.birzha-item-about{
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  overflow: hidden;
  
  
}


.birzha-item-downline{
  display: flex;
  margin-left: 10px;
  padding-top: 15px;
  align-items: center;
  
}

.birzha-item-price{
  margin-left: 10px;
}